ITSOWeb/WebContent/WEB-INF/wsdl/ITSOGreeterService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.itso.com/" targetNamespace="http://example.itso.com/" version="1.0">

  <xs:element name="getValue" type="tns:getValue"/>

  <xs:element name="getValueResponse" type="tns:getValueResponse"/>

  <xs:complexType name="getValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getValueResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
